---
layout: default
---

    <section class="raio-posts-container">
      <div class="row">
        <div class="col-tablet-6 p-padding-1">
          {% for post in paginator.posts %}
              {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
              {% if thecycle == 'odd' %}
                {% include article-excerpt.html %}                                 
              {% endif %}
          {% endfor %}
        </div>        
        <div class="col-tablet-6 p-padding-1">
          {% for post in paginator.posts %}
              {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
              {% if thecycle == 'even' %}
                {% include article-excerpt.html %}                                 
              {% endif %}
          {% endfor %}
        </div>            
      </div>
      <div class="p-padding-1">
        {% include pagination.html %}                
      </div>
    </section>