<div class="frank-aside frank-area--sidebar">
  <a href='/' class='frank-aside__title'>Franklin Maciel</a>
  
  <a href='/sobre' title='Sobre Franklin Maciel'>
    <img src="/images/franklinmaciel.jpg" alt="Blog do Franklin Maciel" class='frank-aside__image'>
  </a>
  <ul class="frank-aside__social">
    <li class="frank-aside__social__item--only-text">
      <a href="/sobre" class="frank-aside__social__item__link">
        <span>Sobre Franklin</span>
      </a>
    </li>  
    <li class="frank-aside__social__item">
      <a href="https://www.facebook.com/franklinfmaciel" class="frank-aside__social__item__link" target='_blank'>
        <i class="raicon-facebook frank-aside__social__item__icon"></i>
      </a>
    </li>
<!--     <li class="frank-aside__social__item">
      <a href="" class="frank-aside__social__item__link">
        <i class="raicon-linkedin frank-aside__social__item__icon"></i>
      </a>
    </li> -->
    <li class="frank-aside__social__item">
      <a href="https://twitter.com/frank_maciel" class="frank-aside__social__item__link" target='_blank'>
        <i class="raicon-twitter frank-aside__social__item__icon"></i>
      </a>
    </li>
  </ul>  
</div>