<div class="frank-aside--fixed col-tablet-3 p-padding-2">
  <div class="frank-aside--fixed__content">
    <h1>Franklin Maciel</h1>
    <img src="/images/franklinmaciel.jpg" alt="Blog do Franklin Maciel" class='frank-aside__image'>
    <ul class="frank-aside__social">
      <li class="frank-aside__social__item">
        <a href="" class="frank-aside__social__item__link"></a>
        <a href="" class="frank-aside__social__item__link"></a>
        <a href="" class="frank-aside__social__item__link"></a>
        <a href="" class="frank-aside__social__item__link"></a>
      </li>
    </ul>  
  </div>
</div>