<div class="raio-posts-container">
	
	<div class="raio-post">
		<h1 class="raio-post-title">Sobre Franklin Maciel</h1>


		<p>Criador dos programas : <strong>De Olho na Vida - São José Sem Drogas  e VemSer,  Programa Municipal Sobre Drogas</strong> que juntos possibilitaram a milhares de famílias e dependentes químicos receberem tratamento digno e adequado, tendo ampliado em mais de seis vezes o número de vagas de internação e criado o <strong>SAMA</strong> que atende jovens e mulheres vítimas das causas e efeitos das drogas.  </p> 

		<p>O joseense Franklin Maciel usa suas ações e palavras de uma forma simples, tocadas pelo coração, no compromisso de acabar com a facilidade ilusória de distribuição e o consumo indevido de drogas lícitas e ilícitas e criar um ambiente de oportunidades onde todos possam seguir suas escolhas e construir seus projetos de vida. </p>  

		<p>Um trabalho de mais de uma década no empenho de levar luz e esclarecimento sobre nossas escolhas e suas consequências, apontando caminhos e soluções para que realizemos todo o nosso potencial humano dado por Deus.
		Através de sua atuação como escritor, poeta e dramaturgo, Franklin Maciel consegue despertar e fortalecer nas pessoas, de forma clara, simples e objetiva, a auto-estima necessária para construírem com segurança, prazer e bem-estar seus projetos de vida, obtendo resultados melhores e mais rápidos, garantindo assim melhor qualidade para si mesmos e suas famílias.</p>

		<p>Seu trabalho e ação fez dele um empresário respeitado, focado nos bons resultados e numa prática correta, um pai de família amoroso e dedicado e  um gestor de RH que valoriza as pessoas e descobre com elas o que elas possuem de melhor, com trabalho reconhecido na maior companhia pública de serviços básicos fundamentais no Vale do Paraíba. </p>  

		<p>Como diretor de Desenvolvimento Econômico criou condições para as pessoas que dezenas de pequenos comerciantes realizem o sonho de  sair da informalidade, criando os Centros de Comércio Popular, além de programas de qualificação profissional e encaminhamento para o Mercado de Trabalho, dando oportunidade a muita gente de talento mostrar seu valor.</p>

		<p>Ajudar as pessoas e sua comunidade é sua razão de vida e para dar continuidade nessa missão, ampliando a capacidade já demonstrada de gerar políticas públicas humanizadas que gerem renda, emprego, qualidade de vida e tratamento a dependência química e outras compulsões, atendendo ao chamado da sociedade e busca apoio e respaldo popular para ajudar com suas ideias e trabalho, sua amada cidade a melhorar cada vez mais.</p>



	</div>

</div>